
div {
  color: white;

  text-align: justify;
  text-justify: inter-character;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  min-height: fit-content;
  min-width: fit-content;

  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px black;
}

h1 {
  padding: 0;
  margin: 0;

  font-size: 8rem;
}

sub {
  font-size: 4rem;
  margin-top: -2rem;
}

.schedule {
  font-size: 3rem;
  margin-top: -0.85rem;
}